Load a DataFrame with information about sales transactions, including 'Product', 'Quantity', and 'Price'. Write a program to calculate the total revenue for each product.

In [53]:
import pandas as pd

sales_transactions=list(zip(*[["Shirt","Jean","Pant", "T-Shirt", "Shoes"],
                    [700, 1200, 1100, 500, 3000],
                    [3, 12, 30, 20, 23]]))

df=pd.DataFrame(sales_transactions,columns=["Product", "Price", "Quantity"])
df.index=range(1, len(df)+1)

df["Total Revenue"]=df["Price"]*df["Quantity"]
print(df)

   Product  Price  Quantity  Total Revenue
1    Shirt    700         3           2100
2     Jean   1200        12          14400
3     Pant   1100        30          33000
4  T-Shirt    500        20          10000
5    Shoes   3000        23          69000

In [46]:
import pandas as pd

sales_transactions={"Product":["Shirt","Jean","Pant", "T-Shirt", "Shoes"],
                    "Price":[700, 1200, 1100, 500, 3000],
                    "Quantity":[3, 12, 30, 20, 23]}
df=pd.DataFrame(sales_transactions)
df["Revenue"]=df["Price"]*df["Quantity"]
df.index = range(1, len(df) + 1)

print(df)
print()
print(f"Total Revenue: {sum(df['Revenue'])}")

   Product  Price  Quantity  Revenue
1    Shirt    700         3     2100
2     Jean   1200        12    14400
3     Pant   1100        30    33000
4  T-Shirt    500        20    10000
5    Shoes   3000        23    69000

Total Revenue: 128500

Load a DataFrame with information about customer orders, including 'CustomerID', 'Product', and 'Quantity'. Write a program to find the total quantity of each product ordered by each customer.

In [43]:
Customer_Orders={"CustomerID":[100, 200, 300, 500, 700],
                 "Quantity":[3, 12, 30, 20, 23],
                  "Product":["Shirt","Jean","Pant", "T-Shirt", "Shoes"]}

df=pd.DataFrame(Customer_Orders, index = range(1, len(df) + 1))

result = df.groupby(['CustomerID', 'Product'])['Quantity'].sum().reset_index()
print(result)

   CustomerID  Product  Quantity
0         100    Shirt         3
1         200     Jean        12
2         300     Pant        30
3         500  T-Shirt        20
4         700    Shoes        23

Given a DataFrame with information about students, including 'Name', 'Age', and 'Grade', write a program to filter out students who are older than 20 and have a grade higher than 90.

In [27]:
Students={"Name":["Sivakami", "Ashique", "Akshay", "Manish", "Sai", "Mahoosh"],
          "Age":[22, 24, 23, 21, 25, 3],
          "Grade":[99, 97, 94, 87,78,64]}

df=pd.DataFrame(Students)
filtered_df = df[(df['Age'] > 20) & (df['Grade'] > 90)]
print(filtered_df)

       Name  Age  Grade
0  Sivakami   22     99
1   Ashique   24     97
2    Akshay   23     94